<div
  class="model-dialog"
  cdkDrag
  cdkDragRootElement=".mat-mdc-dialog-container"
>
  <h1 mat-dialog-title cdkDragHandle class="title">Drag me here</h1>
  <div mat-dialog-actions class="action">
    <button class="button" (click)="close()">Close</button>
  </div>
  <div>
    <label for="component-select">Select component:</label>
    <select
      id="component-select"
      [(ngModel)]="selectedComponent"
      (ngModelChange)="addComponent()"
    >
      <option value=""></option>
      <option value="Interact">Interactive</option>
      <option value="Test">Test</option>
      <option value="Afd">Area Formation DLG</option>
    </select>
  </div>
  <div
    #canvas_PRef
    id="canvas_PRef"
  ></div>
</div>
