#canvas-container{
    position: relative;
    width: 90%;
    height: 90%;
}

#gui-wrap {
    pointer-events: all;
    overflow: auto;
    top:0;
    left:0;
    z-index: 10;
    position: absolute;
  }

#testRef {
    width: 90%;
    height: 90%;
    position: absolute;
    max-width: 90%;
    max-height: 90%;
}